    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .mapboxgl-ctrl-group>button {
      width: 42px;
      height: 42px;
    }

    a.mapboxgl-ctrl-logo.mapboxgl-compact {
      width: 32px;
      height: 32px;
    }
