[submodule "rastertiles-app"]
	path = rastertiles-app
	url = https://github.com/open-indoor/rastertiles-app.git
	branch = master
[submodule "map-app"]
	path = map-app
	url = https://github.com/open-indoor/map-app.git
	branch = master
[submodule "fonts-app"]
	path = fonts-app
	url = https://github.com/open-indoor/fonts-app.git
	branch = master
[submodule "front-api"]
	path = front-api
	url = https://github.com/open-indoor/front-api.git
	branch = master
[submodule "geojson-api"]
	path = geojson-api
	url = https://github.com/open-indoor/geojson-api.git
	branch = master
[submodule "mapbox-gl-openindoor"]
	path = mapbox-gl-openindoor
	url = https://github.com/open-indoor/mapbox-gl-openindoor.git
	branch = master
[submodule "mbtiles-api"]
	path = mbtiles-api
	url = https://github.com/open-indoor/mbtiles-api.git
	branch = master
[submodule "mbtiles-country-api"]
	path = mbtiles-country-api
	url = https://github.com/open-indoor/mbtiles-country-api.git
	branch = master
[submodule "osm-api"]
	path = osm-api
	url = https://github.com/open-indoor/osm-api.git
	branch = master
[submodule "places-api"]
	path = places-api
	url = https://github.com/open-indoor/places-api.git
	branch = master
[submodule "sprite-app"]
	path = sprite-app
	url = https://github.com/open-indoor/sprite-app.git
	branch = master
[submodule "style-app"]
	path = style-app
	url = https://github.com/open-indoor/style-app.git
	branch = master
[submodule "tileserver-api"]
	path = tileserver-api
	url = https://github.com/open-indoor/tileserver-api.git
	branch = master
[submodule "front-app"]
	path = front-app
	url = https://github.com/open-indoor/front-app.git
	branch = master
