:80 {

    log

    handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }

        respond @404 "File not found."
    }

	handle /mbtiles-country/* {
		reverse_proxy unix//var/run/fcgiwrap.socket {
			transport fastcgi {
    		    env SCRIPT_FILENAME /mbtiles-country/mbtiles-country
                env API_DOMAIN_NAME api-local.openindoor.io
		        split "/mbtiles-country/"
			}
		}
	}
}