${APP_DOMAIN_NAMES} {

    root * /data/www
    file_server browse

    tls contact@openindoor.io {
        ca ${CERTIFICATE_AUTHORITY}
    }

    log {
        level DEBUG
    }

    handle /mapbox-gl-openindoor/dist/* {
        uri strip_prefix /mapbox-gl-openindoor/dist
    	reverse_proxy http://mapbox-gl-openindoor:80
    }

    handle /sprite/* {
        uri strip_prefix /sprite
    	reverse_proxy http://sprite-app:80
    }

    handle /rastertiles/* {
        uri strip_prefix /rastertiles
    	reverse_proxy http://rastertiles-app:80
    }

    handle /fonts/* {
    	reverse_proxy http://fonts-app:80
    }

    handle /style/* {
    	reverse_proxy http://style-app:80
    }

    handle * {
    	reverse_proxy http://map-app:80
    }


}